[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
streamlit = "*"
black = "*"
streamlit-ext = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
