[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
tqdm = "*"
numpy = "*"
bs4 = "*"
streamlit = "*"
black = "*"
matplotlib = "*"
fpdf = "*"
streamlit-ext = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
